{% extends "template.html" %}
{% block title %}Detection results{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12"> 
            <img src="static/uploads/output/{{ filename }}?v={{ current_time }}" style="max-width: 600px; max-height: 400px; margin: 0 auto;" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pt-3"> 
            <a href="static/uploads/output/{{ filename }}?v={{ current_time }}" target="_blank" class="btn btn-primary">Download labeled image</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pt-3"> 
            All classes: <br />
            {% for cls in all_classes %}
                <i>{{ cls }}</i> &nbsp;&#59;
            {% endfor %}
        </div>
    </div>
{% endblock %}